$primary: #17c0eb;
$danger: #ff4d4d;
$success: #32ff7e;
$warning: #12CBC4;
.header {
    background-image: linear-gradient(to top, rgba(148, 150, 163, 0.651), rgba(61, 58, 60, 0.73)),url(../../dist/img/steve-johnson-WVUrbhWtRNM-unsplash.jpg);
    width: 100%;
    height: 50vh;
    background-position: center;
    background-size: cover;
   
}

#check,#icon-edit,#icon-circle-with-cross {
    cursor: pointer;
}
#check:hover,#icon-edit:hover,#icon-circle-with-cross:hover {
    transform: translateY(-2px);
}
#check:active,#icon-edit:active,#icon-circle-with-cross:active {
    transform: translateY(-1px);
}
#check{
    fill: white;
    width: 2rem;
    height: 2rem;
}
#icon-edit {
    fill: $primary;
    width: 1.7rem;
    height: 1.7rem;
}
#icon-circle-with-cross{
    fill: $danger;
    width: 1.7rem;
    height: 1.7rem;
}
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";